.form-container {
    display: flex; 
    position: absolute;
    width: 80vw;
    height: 4vh;
    margin: 0vh 10vw;
    justify-content: space-between;
}

#location-container {
    width: 100vw;
    border: 1px solid black;
    border-radius: 5px;    
    font-family: "nunito";
    font-size: 18px;
    color: black
}

#location-container:focus {
    outline: none;
}

#search-icon {
    position: relative; 
    right: 2vw;
    top: 0.22vh;
    font-size: 25px;
}

#refresh-icon {
    width: 2.5vw;
    height: 2.5vh;
    padding: 5px;
    border: 1px solid black;    
    position: relative;     
    bottom: 0.1vh;
    border-radius: 12px;
    background-color:#F5F5F5;
}