.navbar-container {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    background-color:rgba(195, 195, 195, 0.5);
    justify-content: space-between;

}
/*the whole navbar^*/
.logo{
    display:flex;
    margin:10px;
    padding:20px;
    font-size:30px;
    
}
/*our logo, just a link back to itself, needs our pic*/
.rightside-navbar{
    display:flex;
    flex-flow: row nowrap;
    
    background-color: rgba(195, 195, 195, 0);

}
.menu{
    overflow:hidden;

}

.login{
    margin:10px;
    padding:20px;
    font-size:30px;
   
    
}

a{
    text-decoration: none;
}
/*understand this^*/
/*everything below is for the dropdown menu*/
.menu .dropbtn{
    font-size: 30px;
    margin: 10px;
    padding: 20px;
    border:none;
    outline:none;
    background-color:rgba(195, 195, 195, 0.7);
    border-radius: 15px;
    
}

/*button's color*/
.menu_content{
    display: none;
    position:absolute;
    min-width: 120px;
    z-index:1;

}

.menu_content a{
    float: none;
    color: black;
    padding: 10px 10px;
    display: block;
    text-align: center;
}

.menu_content a:hover{
    background-color: rgba(180, 180, 180, 1);
}

.menu:hover .menu_content{
    display:block;
    background-color: rgba(195, 195, 195, 0.7);
}

/*

.notif{
    margin:10px;
    padding:20px;
    font-size:30px;
    
}

.about{
    margin:10px;
    padding:20px;
    font-size:30px;
    
}

.friends{
    margin:10px;
    padding:20px;
    font-size:30px;
    
}
*/